[submodule "jguegant.github.io"]
	path = jguegant.github.io
	url = git@github.com:jguegant/jguegant.github.io.git
[submodule "Flex"]
	path = Flex
	url = git@github.com:jguegant/Flex.git 
[submodule "tech.blog"]
	path = tech.blog
	url = git@github.com:jguegant/tech.blog.git
[submodule "personal.blog"]
	path = personal.blog
	url = git@github.com:jguegant/personal.blog.git
